p{
    color:black;
    height: 10px;
    width: 40%;
}
.s1{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.s2{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: green;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.s3{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: orange;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}